body {
    margin: 0px;
    font-family: "Nanum Gothic", sans-serif;
    background-color: #F8E8EE;
}

/*HEADER SECTION*/
header {
    text-align: center;
    margin: 0px 60px;
    padding: 50px 0px 30px 0px;
}

h1 {
    background-color: #F9F5F6;
    color: #F2BED1;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    padding: 5px;
    margin: 0px;
}

/*NAVIGATION ABR*/
nav {
    background-color: #F2BED1;
    margin: 0px;
}

nav a{
    text-decoration: none;
    color: #F9F5F6;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #FDCEDF;
    color: #352F44;
}

/*MAIN SECTION DIVIDED INTO TWO COLUMNS*/
main {
    margin: 0px 60px;
}

h2, h3 {
    font-family: "Chakra Petch", sans-serif;
}

/*LEFT COLUMN*/
section {
    float: left;
    width: 65%;
}

/*INTRO SECTION*/
.intro {
    margin: 15px 2px;
    padding: 0px;
    background-color: #F2BED1;
}

h2 {
    background-color: #F9F5F6;
    padding: 10px;
    text-align: center;
    color: #F2BED1;
    font-weight: 800;
}

.intro p {
    padding: 0px 20px 20px 20px;
    font-size: 18px;
}

h3 {
    background-color: #F2BED1;
    padding: 10px;
    text-align: center;
    color: #F9F5F6;
    margin-bottom: 5px;
}

/*WEEKLY SHEDULE*/
.schedule {
    margin: 15px 2px;
    background-color: #F9F5F6;
    font-size: 18px;
}

.boxes {
    padding: 0px 27px;
}

.box {
    display: inline-block;
    margin: 20px 20px 30px 20px;
    padding: 10px;
    border: 2px solid #F2BED1;
    width: 300px;
    text-align: center;
}

.box h4 {
    margin: 2px;
    font-weight: 800;
}


.box .date {
    font-size: 14px;
    font-style: italic;
    margin: 0px;
}

.box p {
    font-size: 16px;
}

.box span {
    font-style: italic;
    font-size: 15px;
}

.box a {
    text-decoration: underline;
    font-size: 14px;
    color: #352F44;
    padding: 5px;
}

/*BUTTON STYLE*/
button {
    background-color: #F2BED1;
    border: 1px solid #F2BED1;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: #F8E8EE;
    border: 1px solid #F2BED1;
}

/*COURSE CONTENT*/
.course {
    margin: 15px 2px;
    padding: 0px;
    background-color: #F9F5F6;
}

.content {
    text-align: center;
    display: inline-block;
    border: 1px solid #F2BED1;
    padding: 10px;
    width: 200px;
    margin: 19px;
}

.content p {
    text-align: left;
    padding: 2px 0px;
    margin: 0px;
}

.content span {
    margin: 15px;
    color: #F2BED1;
    font-size: 18px;
    font-weight: 600;
}

/*SIDE BARS*/
aside {
    float: right;
    width: 30%;
}

/*ALL WEEKS*/
.weeks {
    margin: 20px 2px;
    padding: 0px 0px 10px 0px;
    background-color: #F9F5F6;
    font-size: 16px;
    text-align: center;
}

.weeks table, td {
    margin: 15px 35px;
    border: 1px solid #FDCEDF;
    border-collapse: collapse;
    text-decoration: underline;
}

.weeks td {
    padding: 4px;
    padding: 15px;
    border: 1px solid #FDCEDF;
    border-collapse: collapse;
}

.weeks a {
    color: #352F44;
}

.weeks td:hover {
    background-color: #F2BED1;
}

.weeks .selected {
    background-color: #F2BED1
}

/*TASKS AND DEADLINES*/
.tasks {
    margin: 20px 2px;
    padding: 0px 0px 20px 0px;
    background-color: #F9F5F6;
}

.tasks h3 {
    margin-bottom: 10px;
}

.taskTitle {
    padding: 4px 30px;
    margin: 0px;
    font-size: 18px;
}

a {
   color: #352F44; 
}

.dueDate {
    padding: 2px 30px;
    margin: 5px;
    font-size: 13px;
    color: #352F44;
    font-style: italic;
    font-weight: 200;
}

.submit {
    display: inline-block;
    padding: 2px 30px;
    margin: 0px 0px 15px 40px;
    background-color: #F8E8EE;
    font-size: 16px;
}

.submit:hover {
    background-color: #FDCEDF;
    color: #352F44;
}

/*CLEAR FLOAT*/
.clr {
    clear: both;
}

/*RESOURCES*/
.resource {
    margin: 29px 2px;
    padding: 0px 0px 10px 0px;
    background-color: #F9F5F6;
    font-size: 16px;
    text-align: center;
}

.resource table {
    margin: 15px 30px;
    border: 1px solid #FDCEDF;
    border-collapse: collapse;
    text-decoration: underline;
}

.resource td {
    padding: 4px;
    padding: 15px;
    border: 1px solid #FDCEDF;
    border-collapse: collapse;
}

.resource a {
    color: #352F44;
}

.resource td:hover {
    background-color: #F2BED1;
}

/*FOOTER STYLE*/
footer {
    background-color: #F2BED1;
    color: #352F44;
    text-align: center;
    padding: 10px;
    margin: 30px 60px 10px 60px;
}