/*style of page*/
body {
    background-color: #FEECE2; 
    width: 70%;
    margin: 30px auto 30px auto;
    color: #0C2D57;
    font-family: Arial, Helvetica, sans-serif;
}

/*style of html and css class divs*/
.html, .css {
    background-color: #FFFBF5;
    box-shadow: #E78895 10px 10px;
    margin-bottom: 50px;
    padding: 15px 30px;
    border: 1px solid #E78895;
}

/*heading styles*/
h1 {
    background-color: #FFFBF5;
    color: #E78895;
    text-align: center;
    padding: 10px;
    box-shadow: 10px 10px #E78895;
    border: 1px solid #E78895;
}

h2 {
    padding: 10px;
    color: #E78895;
    font-size: 25px;
    text-align: center;
    margin: 10px 0px ;
}

h3 {
    color: #E78895;
    margin: 5px 0px ;
}

h4 {
    color: #E78895;
}

/*div class styles*/
.desc {
    background-color: #FFF7F1;
    border: 2px solid #E78895;
    padding: 5px 10px;
}

.def1 {
    font-size: 18px;
}

.def2 {
    font-size: 16px;
}

/*pre style*/
pre {
    background-color: #F7EFE5;
    padding-top: 10px;
    border-radius: 5px;
}

/*code block style*/
code {
    font-family: 'Courier New', Courier, monospace;
    color: #E78895;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: #F7EFE5;
    font-size: 15px;
}

/*hr style*/
hr {
    color: #E78895;
}

/*footer style*/
footer {
    text-align: center;
    background-color: #FFFBF5;
    color: #E78895;
    padding: 8px;
    box-shadow: 10px 10px #E78895;
    border: 1px solid #E78895;
}