/*font imports*/
@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*body style*/
body {
    margin: 30px 30%;
    text-align: center;
    background-color: #EEE7DA;
}

/*header content style*/
header {
    margin: 10px;
}
h1 {
    color: #88AB8E;
    font-size: 70px;
    font-family: "Tac One", sans-serif;
}

/*main content style*/
main {
    background-color: #F2F1EB;
    border-radius: 5px;
    box-shadow: 10px 10px #88AB8E;
    margin: 10px 10%;
    padding: 30px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}
h3 {
    padding: 5px;
    margin: 5px;
}

/*input style*/
input {
    padding: 10px;
    border: 1px solid #88AB8E;
    border-radius: 5px;
    background-color: #AFC8AD;
}
input:focus { /*input field in focus style*/
    background-color: whitesmoke;
}

/*button style*/
button { 
    margin: 20px;
    background-color: #88AB8E;
    padding: 10px;
    color: #F2F1EB;
    border: none;
    border-radius: 5px;
}
button:hover { /*button hover style*/
    background-color: #AFC8AD;
}

/*font imports*/
.result {
    font-size: 20px;
    background-color: #AFC8AD;
    padding: 10px;
    color: #F2F1EB;
    border-radius: 5px;
}
.result span { /*result will be in different style*/
    color: #EEE7DA;
    font-weight: 700;
}

/*footer style*/
footer {
    margin: 30px;
    font-family: "Oswald", sans-serif;
    color: #88AB8E;
}